BODY { 
background: url(https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F24eb65ff1460b56a220ad3a8da4f44d9.300x300x1.png); 
font-family : arial; 
color : White; 
}
TABLE {
background-color : #2a85df;
}